* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --background: #fff;
  --content: #212121;

  /* Button */
  --btn-background-color: #fff;
  --btn-hover-background-color: #212121;
  --btn-content: #212121;
  --btn-hover-content: #fff;
  --btn-border: rgb(200, 200, 200);

  /* Input */
  --input-label: rgb(100, 100, 100);
  --input-border: rgb(200, 200, 200);
  --input-border-valid: rgb(150, 150, 200);

  /* Checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: rgb(200, 200, 200);
  --checkbox-border-width: 2px;
  --checkbox-border-style: solid;
  /* Checkbox color */
  --checkbox-primary-color: #212121;
  --checkbox-secondary-color: #fff;
  --checkbox-disabled-color: #212121;
  /* Checkmark */
  --checkmark-size: 1.2;

  /* Loader */
  --overlay: #33333373;

  /* Other */
  --special: red;
}

/* Root */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e2e2e2;
  font-size: 1.6rem;
  user-select: none;
}

iframe {
  background-color: #e2e2e2;
}

/*========== Common ========== */
/* Container */

/* Utility */
.main {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: var(--background-color);
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* .container_item {
  padding-top: 1.4rem;
} */

.container_item_1 {
  grid-area: 1 / 1 / 9 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container_item_2 {
  grid-area: 1 / 7 / 9 / 9;
}

.container_item_3 {
  grid-area: 1 / 3 / 9 / 7;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Heading */
.heading--01 {
  margin: 0.5rem 0 1rem 0;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

/* Loader */

/*========== Button ========== */
/* Primary button */

/* Link button */

/* Radio button */
.tab-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 2px; */
  background-color: #dadadb;
  border-radius: 1rem;
}

.indicator {
  content: "";
  /* width: 130px; */
  width: calc(100% / 3);
  height: 28px;
  background: #ffffff;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}

.tab {
  /* width: 130px; */
  width: calc(100% / 3);
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  /* width: 130px; */
  width: calc(100% / 3);
  height: 28px;
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 1.5rem;
  opacity: 0.6;
  cursor: pointer;
}

.tab--1:checked ~ .indicator {
  left: 2px;
}

.tab--2:checked ~ .indicator {
  /* left: calc(130px + 2px); */
  left: calc((100% / 3) + 2px);
}

.tab--3:checked ~ .indicator {
  /* left: calc(130px * 2 + 2px); */
  left: calc((100% / 3) * 2 + 2px);
}

.tab:checked + .tab_label {
  font-weight: 1000;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.embeded_form {
  position: absolute; /* Position the iframes on top of each other */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Default z-index for all iframes */
}

/*========== Form & Input ========== */
/* Form */

/* Input */

/* Checkbox */

/* Checkbox actions */

/*========== Heading ========== */

/*========== ========== ========== ========== ========== ==========*/
